/* You can add global styles to this file, and also import other style files */
.nav-link {
  cursor: pointer;
}

.tag-pill {
  cursor: pointer;
}

.page-link {
  cursor: pointer;
}

.home-img {
  background-image: url("https://cuef.univ-grenoble-alpes.fr/medias/photo/grenoble_1643898224793-jpg");
  width: 100%;
  height: 100%;
}
